footer{
    height: 5.625rem;
    width: 100vw;
    background-color: var(--footer-color);
    position: relative;
}
.footer-section , .footer-section .row{
    height: 100%;
    width: 100%;
}
/* COL-LEFT */
.footer-section .col-25{
    width: calc(100% / 4);
}
.footer-left > div {
    padding-right: 1rem;
}
.col-25 .icon > div > *{
   
   padding-right: 0.5rem;

}
/* COL MIDDLE */
.footer-icon{
    justify-content: center;
}
.footer-section .col-50{
    width: calc(100% / 2);
    justify-content: center;
    
}
.footer-icon, .footer-right, .footer-left, .col-25 .row {
    font-size: 1.5rem;
    padding: 0rem .625rem;
}
.footer-icon > div, .footer-right > div{
    padding: 0rem 1.25rem 0rem 1.25rem;
}
.footer-section .song-bar{
   text-align: center;
}
/* TIME-BAR */
.song-bar{
    justify-content: center;

}
.time-bar{
    width: 50%;
    height: .25rem;
    background-color: var(--text-color-nav);
    margin: 0rem 3rem ;
    position: relative;
}



/* COL RIGHT */
/* .footer-right{
    justify-content: flex-end;
} */
.footer-section img{
    width: 3.125rem;
    height: 3.125rem;
}
.footer-section .col > div{
    align-items: center; 
    width: 100%;
}
/* audio-bar */

.audio-bar{
    width: 25%;
    height: .25rem;
    background-color: var(--text-color-nav);
    position: relative;
}



