*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
/* container */
.container-vh{
    height: calc(100% - 5.625rem);
}
.flex{
    display: flex;
   
}

.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
    display: block;
}
.preference-list ul{
    text-decoration-style: none;
    list-style: none;
}
