*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
/* container */
.container-vh{
    height: calc(100% - 5.625rem);
}

/* GENERAL */
.flex{
    display: flex; 
}
.flex-cnt{
    display: flex;
    align-items: center;
    height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
ul{
    text-decoration-style: none;
    list-style: none;
}
.text-center{
    text-align: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-section, .second-section, .tird-section{
    padding-bottom: 3rem;
}