/* GENERAL MAIN */
  

/* col nav */
.col-nav{
    width: 220px;
    background-color: black;
    height:100%;
}
.col-nav .col-navigation > div{
  padding-bottom: 3rem;
    
}
.col-main{
    width: calc(100vw - 220px);
    background-color: var(--main-color);
    position: relative;
    overflow-y: auto;
}

/* COL MAIN */
/* header col-main */
.upgrade{
    position:fixed;
    top: 0;
    height: 5.625rem;
    width: calc(100% - 220px);
    background-color: black;
    z-index: 10;
    justify-content: flex-end;
    align-items: center;
}
/*button header-main */
.upgrade button{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: .625rem 1rem .625rem 1rem;
    border-radius: 1rem;
}
/* FIRST-SECTION */

.first-section ul{
    padding-top: 7.5rem;
    justify-content: center; 
}
.first-section li{
    padding: 0rem 1.5625rem 0rem 1.5625rem ;
}

/* SECOND-SECTION */
.col-main .col{
    width: calc(100% / 6 - 1.25rem);
    margin: .625rem;
}

/* TIRD SECTION */


