body{
    font-family: 'Montserrat', sans-serif;
}

/* col nav */
.col-nav{
    color: var(--text-color-nav);
}
.logo{
    font-size: 4rem;
}
.col-nav small{
    font-size: 1.2rem;
  
}
.col-nav li, .col-nav h5{
    padding-bottom: 0.5rem;

}
.col-nav h5{
    font-size: 1.25rem;
}
.icon li > * , .icon > p > *{
    vertical-align: middle;
}
/* col-main */
.col-main{
    color: var(--text-color-nav);
}
.title-section, h5{
    color: var(--text-color-footer);
}
.title-section h6 {
    color: var(--text-color-nav);
}

/* footer */
footer{
    color: var(--text-color-footer);
}
.footer-left h5, .footer-left p{
    font-size: 0.7rem;
}
.color-grey{
    color: var(--text-color-nav);
}
